<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interviews</title>
    <link href="/styles/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand logo-font" href="/">The story of</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/about.html">Story</a>
            <a class="nav-link" href="/interviews.html">Interviews</a>
            <a class="nav-link" href="/photo-gallery.html">Photo Gallery</a>
          </div>
        </div>
      </div>
    </nav>
    <header class="container-header-about">
      <div class="headContent">
        <h1>About Malala</h1>
        <p>
          Let me tell you the story of Malala
        </p>
      </div>
    </header>
    <main>
      <section class="container2">
        <div class="container-text">
          <h2>Childhood and early activism</h2>
          <p>
            The daughter of an outspoken social activist and educator, Yousafzai
            was an excellent student. Her father—who established and
            administered the school she attended, Khushal Girls High School and
            College in the city of Mingora—encouraged her to follow in his path.
            In 2007 the Swat valley, once a vacation destination, was invaded by
            the TTP. Led by Maulana Fazlullah, the TTP began imposing strict
            Islamic law, destroying or shutting down girls’ schools, banning
            women from any active role in society, and carrying out suicide
            bombings. Yousafzai and her family fled the region for their safety,
            but they returned when tensions and violence eased.
          </p>
          <p>
            On September 1, 2008, when Yousafzai was 11 years old, her father
            took her to a local press club in Peshawar to protest the school
            closings, and she gave her first speech—“How Dare the Taliban Take
            Away My Basic Right to Education?” Her speech was publicized
            throughout Pakistan. Toward the end of 2008, the TTP announced that
            all girls’ schools in Swat would be shut down on January 15, 2009.
            The British Broadcasting Corporation (BBC) approached Yousafzai’s
            father in search of someone who might blog for them about what it
            was like to live under TTP rule. Under the name Gul Makai, Yousafzai
            began writing regular entries for BBC Urdu about her daily life. She
            wrote from January through the beginning of March of that year 35
            entries that were also translated into English. Meanwhile, the TTP
            shut down all girls’ schools in Swat and blew up more than 100 of
            them.
          </p>
          <p>
            In February 2009 Yousafzai made her first television appearance,
            when she was interviewed by Pakistani journalist and talk show host
            Hamid Mir on the Pakistan current events show Capital Talk. In late
            February the TTP, responding to an increasing backlash throughout
            Pakistan, agreed to a cease-fire, lifted the restriction against
            girls, and allowed them to attend school on the condition that they
            wear burkas. However, violence resurged only a few months later, in
            May, and the Yousafzai family was forced to seek refuge outside of
            Swat until the Pakistani army was able to push the TTP out. In early
            2009 The New York Times reporter Adam Ellick worked with Yousafzai
            to make a documentary, Class Dismissed, a 13-minute piece about the
            school shutdown. Ellick made a second film with her, titled A
            Schoolgirl’s Odyssey. The New York Times posted both films on their
            Web site in 2009. That summer she met with the U.S. special envoy to
            Afghanistan and Pakistan, Richard Holbrooke, and asked him to help
            with her effort to protect the education of girls in Pakistan.
          </p>
          <p>
            With Yousafzai’s continuing television appearances and coverage in
            the local and international media, it had become apparent by
            December 2009 that she was the BBC’s young blogger. Once her
            identity was known, she began to receive widespread recognition for
            her activism. In October 2011 she was nominated by human rights
            activist Desmond Tutu for the International Children’s Peace Prize.
            In December of that year she was awarded Pakistan’s first National
            Youth Peace Prize (later renamed the National Malala Peace Prize).
          </p>
        </div>
        <div class="container-videos">
            <img
            src="/images/fest-gehalten-malala-yousafzai.jpg"
            class="card-img-top"
            alt="malala at school"
          />
          </div>
        <div class="container-text">
          <h2>Shooting and Nobel Peace Prize</h2>
          <p>
            On October 9, 2012, Yousafzai was shot in the head by a TTP gunman
            while she was en route home from school. Fazlullah and the TTP took
            responsibility for the attempt on her life. She survived the attack
            and was flown from Peshawar to Birmingham, England, for surgery. The
            incident elicited protests, and her cause was taken up around the
            world, including by the UN special envoy for global education,
            Gordon Brown, who introduced a petition that called for all children
            around the world to be back in school by 2015. That petition led to
            the ratification of Pakistan’s first Right to Education bill. In
            December 2012 Pakistani President Asif Ali Zardari announced the
            launch of a $10 million education fund in Yousafzai’s honour. About
            the same time, the Malala Fund was established by the Vital Voices
            Global Partnership to support education for all girls around the
            world.
          </p>
          <p>
            Yousafzai recovered, staying with her family in Birmingham, where
            she returned to her studies and to activism. For the first time
            since being shot, she made a public appearance on July 12, 2013, her
            16th birthday, and addressed an audience of 500 at the United
            Nations in New York City. Among her many awards, in 2013 Yousafzai
            won the United Nations Human Rights Prize, awarded every five years.
            She was named one of Time magazine’s most influential people in 2013
            and appeared on one of the seven covers that were printed for that
            issue. With Christina Lamb (foreign correspondent for The Sunday
            Times), Yousafzai coauthored a memoir, I Am Malala: The Girl Who
            Stood Up for Education and Was Shot by the Taliban (2013). She also
            wrote the picture book Malala’s Magic Pencil (2017), which was based
            on her childhood. In 2014 she became the youngest person to win the
            Liberty Medal, awarded by the National Constitution Center in
            Philadelphia to public figures striving for people’s freedom
            throughout the world. Nominated for the Nobel Peace Prize in 2013
            but passed over that year, Yousafzai in 2014 won the prize, becoming
            the youngest Nobel laureate.
          </p>
          <p>
            After winning the Nobel Prize, Yousafzai continued to attend school
            in England—she graduated from the University of Oxford in 2020—while
            using her enhanced public profile to bring attention to human rights
            issues around the world. In July 2015, with support from the Malala
            Fund, she opened a girls’ school in Lebanon for refugees from the
            Syrian Civil War. She discussed her work with refugees as well as
            her own displacement in We Are Displaced (2019). Her life, before
            and after the attack she endured, was examined in the documentary He
            Named Me Malala (2015). The title referenced the fact that Yousafzai
            had been named for the Afghan heroine Malalai, or Malala, who
            purportedly led her people to victory against the British in the
            1880 Battle of Maiwand.
          </p>
        </div>
        <div class="container-videos">
            <img
            src="/images/malalaschool.jpg"
            class="card-img-top"
            alt="malala at school"
          />
          </div>
      </section>
    </main>
    <footer>
      <a class="navbar-brand logo-font" href="#">The story of</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="/app.mjs"></script>
  </body>
</html>
