<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="/styles/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand logo-font" href="/">The story of</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/about.html">Story</a>
            <a class="nav-link" href="/interviews.html">Interviews</a>
            <a class="nav-link" href="/photo-gallery.html">Photo Gallery</a>
          </div>
        </div>
      </div>
    </nav>
    <header class="container-header">
      <div class="headContent">
        <h1>Malala Yousafzai</h1>
        <p>
          Malala Yousafzai, (born July 12, 1997, Mingora, Swat valley,
          Pakistan), Pakistani activist who, while a teenager, spoke out
          publicly against the prohibition on the education of girls that was
          imposed by the Tehrik-e-Taliban Pakistan (TTP; sometimes called
          Pakistani Taliban). She gained global attention when she survived an
          assassination attempt at age 15. In 2014 Yousafzai and Kailash
          Satyarthi were jointly awarded the Nobel Prize for Peace in
          recognition of their efforts on behalf of children’s rights.
        </p>
      </div>
    </header>
    <main>
      <section class="container grid">
        <div class="card g-col-6 g-col-md-4" style="width: 18rem">
          <img src="/images/malala3.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">The story of Malala</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/about" class="btn btn-primary">Let's read it</a>
          </div>
        </div>
        <div class="card g-col-6 g-col-md-4" style="width: 18rem">
          <img src="/images/malala5.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Interviews</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/interviews" class="btn btn-primary">Go to interviews</a>
          </div>
        </div>
        <div class="card g-col-6 g-col-md-4" style="width: 18rem">
          <img
            src="/images/Nigeria_Milestone1.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Photo Gallery</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/photo-gallery" class="btn btn-primary">Go to photo gallery</a>
          </div>
        </div>
      </section>
      <section class="container2">
        <div class="container-slider">
          <h2> “So let us wage a global struggle against illiteracy, poverty, and
            terrorism, and let us pick up our books and pens. They are our most
            powerful weapons.”</h2>
        </div>
        <div class="container-videos">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/3rNhZu3ttIU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </section>
    </main>
    <footer>
      <a class="navbar-brand logo-font" href="/">The story of</a>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script src="/app.mjs"></script>
  </body>
</html>
